resources/*
!resources/orp
!resources/orp-addon/*
resources/orp/terms-and-conditions.json
resources/orp/server/configuration/database.mjs
resources/orp/server/configuration/database.json
node_modules/
modules/
data/
altv-server.exe
libnode.dll
server.log
update.json
package-lock.json
cache/
crashdumps/
server.cfg
package.json
altv-server
libnode.so.72
start.sh