.gitmodules
resources/*
resources/gumroad
!resources/orp
!resources/club-bahama
!resources/comedy-club
!resources/hospital-pillbox
!resources/postgres-wrapper
!resources/orp-addon/*
!resources/orp/server/cache/*
resources/orp/server/discord/configuration.json
resources/orp/terms-and-conditions.json
resources/orp/terms-and-conditions.*
resources/orp/server/configuration/database.json
node_modules/
modules/
data/
altv-server.exe
libnode.dll
server.log
update.json
package-lock.json
cache/
crashdumps/
server.cfg
package.json
altv-server
libnode.so.72
start.sh
trackpoints.json
