name: 'alt:V - ORP'
host: 0.0.0.0
port: 7788
players: 64
announce: false
gamemode: ORP
website: twitch.tv/stuyksoft
language: lang-here
description: ''
modules: [ node-module ]
resources: [ orp, hospital-pillbox, club-bahama, comedy-club, discord ]
#token:
debug: true
streamingDistance: 300