html,
body {
    height: auto;
    margin: 0;
}

html {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.chatbox {
    background: transparent;
    position: relative;
    overflow-y: scroll;
    max-height: 45vh;
    max-width: 35vw;
    margin-top: 5vh;
}

#messages {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

#chat-input {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    color: white;
    height: 4vh;
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Circular';
    font-size: 1.5vh;
    padding: 0 0.5vw; // Padding
    margin: 0;
    bottom: 0vh;
    border: none;
    width: 100vw;
    overflow: hidden;
}

#chat-input:focus {
    outline: none;
}

.msg {
    margin-bottom: 1vh;
    padding: 0.5vw;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0) 75%
    );
    color: white;
    font-family: 'Circular';
    max-width: 32vw;
    overflow-wrap: break-word;
    transition: 0.3s;
}

.msg:hover {
    font-weight: bold;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0) 75%
    );
    cursor: pointer;
}

.hidden {
    display: none;
}
