html,
body {
    min-height: 100vh;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.mostly-customized-scrollbar {
    display: block;
    width: 12px;
    overflow: auto;
    height: inherit;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
}
