html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0) !important;
}

.small-alert {
    font-size: 9px !important;
}

#passwordtwo, #alert, #alertSuccess {
    display: none;
}